@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}


html, body {
    background-color: rgb(35, 21, 60);
	font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0.5rem;
    font-size: 80%;
    max-width: 825px;

}
   
    


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #ff004f !important;
        border-color: #ff004f !important;
}

.btn-outline-primary {
        border-color: #ff004f !important;
}



